body{
    background-image: url("../assets/images/beans.jpg");
}
.menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,p{
    text-align: center;
}
.flavor{
    text-align:left;
    width:75%;
}
.price{
    text-align:right;
    width:25%;
}
.item p{
    display:inline-block;
    
}

